<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Density Converter</title>
</head>
<body>
<a href="/"><button>HOME</button></a>
<br>
<br>
<form method="post" th:action="@{/density}" th:object="${densityForm}">
    Wartość do przeliczenia: <input type="text" th:field="*{value}" th:errorClass="error">
    <span class="error" th:errors="*{value}"></span>
    <br>
    Wybierz jednostkę wyjściową:
    <select th:field="*{incomeUnit}">
        <option
                th:each="dropdownValue: ${densitySingleSelectAllValues}"
                th:value="${dropdownValue}"
                th:text="${dropdownValue}" ></option>
    </select>
    <br>
    Wybierz jednostkę, na którą chcesz przeliczyć:
    <select th:field="*{outcomeUnit}">
        <option
                th:each="dropdownValue: ${densitySingleSelectAllValues}"
                th:value="${dropdownValue}"
                th:text="${dropdownValue}" ></option>
    </select>
    <br><input type="submit" value="Przelicz">
</form>
</body>
</html>