<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<h2>Konwerter jednostek</h2>
<p>Witaj na stronie ułatwiającej konsersję jednostek.
<br>
Poniżej wybierz wielkość, dla której chcesz przeliczyć jednostki.</p>
<br><a href="/temperature">TEMPERATURA</a>
<br><a href="/length">DŁUGOŚĆ</a>
<br><a href="/mass">MASA</a>
<br><a href="/time">CZAS</a>
<br><a href>CIŚNIENIE</a>
<br><a href>POWIERZCHNIA</a>
<br><a href>OBJĘTOŚĆ</a>
<br><a href>PRĘDKOŚĆ</a>
<br><a href>GĘSTOŚĆ</a>
</body>
</html>