<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Speed Result</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        li {float: left;}
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        li a:hover {background-color: #111;}
    </style>
</head>
<body>
<ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/temperature">TEMPERATURA</a></li>
    <li><a href="/length">DŁUGOŚĆ</a></li>
    <li><a href="/mass">MASA</a></li>
    <li><a href="/time">CZAS</a></li>
    <li><a href="/pressure">CIŚNIENIE</a></li>
    <li><a href="/area">POWIERZCHNIA</a></li>
    <li><a href="/volume">OBJĘTOŚĆ</a></li>
    <li><a class="active" href="/speed">PRĘDKOŚĆ</a></li>
    <li><a href="/density">GĘSTOŚĆ</a></li>
</ul>
<br>
Po przeliczeniu prędkość wynosi: <span th:text="${speedResult}"></span>
<br>
<br>
<a href="/speed"><button>WSTECZ</button></a>
</body>
</html>