<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time Converter</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        li {float: left;}
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        li a:hover {background-color: #111;}
    </style>
</head>
<body>
<ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/temperature">TEMPERATURA</a></li>
    <li><a href="/length">DŁUGOŚĆ</a></li>
    <li><a href="/mass">MASA</a></li>
    <li><a class="active" href="/time">CZAS</a></li>
    <li><a href="/pressure">CIŚNIENIE</a></li>
    <li><a href="/area">POWIERZCHNIA</a></li>
    <li><a href="/volume">OBJĘTOŚĆ</a></li>
    <li><a href="/speed">PRĘDKOŚĆ</a></li>
    <li><a href="/density">GĘSTOŚĆ</a></li>
</ul>
<br>
<form method="post" th:action="@{/time}" th:object="${timeForm}">
    Czas do przeliczenia: Wartość do przeliczenia: <input type="text" th:field="*{value}" th:errorClass="error">
    <span class="error" th:errors="*{value}"></span>
    <br>
    Wybierz jednostkę wyjściową:
    <div th:each="radioValue: ${timeRadioAllValues}">
        <input type="radio"
               th:field="*{incomeUnit}"
               th:value="${radioValue}" />
        <label
                th:for="${#ids.prev('incomeUnit')}"
                th:text="${radioValue}"></label>
    </div>
    <br>
    Wybierz jednostkę, na którą chcesz przeliczyć:
    <div th:each="radioValue: ${timeRadioAllValues}">
        <input type="radio"
               th:field="*{outcomeUnit}"
               th:value="${radioValue}" />
        <label
                th:for="${#ids.prev('outcomeUnit')}"
                th:text="${radioValue}"></label>
    </div>
    <br>
    <br><input type="submit" value="Przelicz">
</form>
</body>
</html>